/* The sidebar menu */
.sidenav {
  height:100%;
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(15, 27, 136); /* Green */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 10px 4px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Trebuchet MS";
  color: #face0a;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #0cf7fff6;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 10px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
